BUN_PORT=3000

POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_USER="development-user"
POSTGRES_PASSWORD="devpassword123"
POSTGRES_DB="development"

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
JWT_SECRET=your_jwt_secret
